@media (min-width: 200px){
    .css-dudo9s-MuiTypography-root {
        display: block !important;
        width: 900%;
    }
    .css-1q39md6-MuiButtonBase-root-MuiButton-root{
        font-family: "Poppins" !important;
    }
    .css-7mt4h1-MuiInputBase-root .MuiInputBase-input {
        width: 0ch !important;
    }
    .css-7mt4h1-MuiInputBase-root .MuiInputBase-input:focus {
        width: 20ch !important;
        background-color: rgba(255, 187, 0, 0.24) !important;
        border-radius: 10px;
    }
    .logo-navbar{
        width: 63px;
        height: 32px;
    }
    .css-hip9hq-MuiPaper-root-MuiAppBar-root {
        background-color: #fff0 !important;
        color: #FFB600 !important;
        ;
      }
      .css-1orzy9s {
        position: relative;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 255);
        margin-left: 0;
        width: 100%;
      }
      
}
